.border-line {
  border-right: 1px solid #E5E5E5;
}

@media (max-width: 767.99px) {
  .border-line {
    border: none;
  }
}

aside {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  flex-direction: column;
}

aside img {
  display: none;
  margin-bottom: 25px;
  width: 80%;
  border-radius: 50%;
  padding: 5px;
  border: 5px solid #24292E;
}

aside p {
  display: block;
  width: 100%;
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
  color: #24292E;
}

aside span {
  width: 80%;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
  color: #24292E;
}

@media (max-width: 575.99px) {
  aside img {
    width: 70%;
  }
}